@font-face {
  font-family: FKGroteskSemiMonoRegular;
  src: url(/sources/FK_Grotesk_woff2/FKGrotesk-Thin.woff2);
  }

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
	margin: 0;
	padding: 0;
  overflow: hidden;
	}

h1 {
  font-family: "FKGroteskSemiMonoRegular", sans-serif;
  font-size: 120px;
  line-height: 110px;
  color: black;
  }
  
p {
  padding: 0;
  margin: 0;
  font-family: "FKGroteskSemiMonoRegular", sans-serif;
  }

a {
  font-family: "FKGroteskSemiMonoRegular", sans-serif;
  text-decoration: none;
}

a:hover {
  color: white;
}

.button-white {
  font-family: "FKGroteskSemiMonoRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: black;
  border-style: none; 
  padding: 10px 20px 10px 20px; 
  color: white;
  transition: 0.3s;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 6px 1px rgba(25, 35, 44, 0.4);
  }

.button-margin-right {
  margin-right: 20px;
}

button:focus { 
  outline:none;
  }

button:hover { 
  cursor: pointer;
  background-color: white;
  color: black;
  }

.popup-modal button:hover { 
  background-image: none;
  }

#scrollbox1, #scrollbox2, #scrollbox3, #scrollbox4, #scrollbox5, #scrollbox6, #scrollbox7 {
  transition: 0.5s ease-in-out;
  }

#scrollbox2, #scrollbox3, #scrollbox4, #scrollbox5, #scrollbox6, #scrollbox7 {
  display: none; 
  opacity: 0,
}

.scrollbox-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  }

.scrollbox-wrapper-top {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding-top: 200px;
}

.backgroundbox{
  height: 100vh; 
  width: 100vw; 
  /*background: url(./sources/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;*/
  background-color: rgba(218, 254, 87, 0.9); 
  position: absolute; 
  top: 0px; 
  left: 0px;
  z-index: -10;
  }

.popup-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  }

.popup-modal {
  width: 60vw; 
  padding: 50px 55px 55px 55px;
  background-color: rgba(22, 30, 41, 1); 
  z-index: 10;
  }

.textbox {
  width: 55%;
  padding: 5px;
  color: #293645;
  text-align: center;
  }

#scrollbox7 {
  text-shadow: 3px 3px 40px #14181d, -3px -3px 40px #14181d, 0px 0px 40px #14181d
}

.text {
  color: white;
  font-weight: 200;
  line-height: 24px;
  font-size: 22px;
}

.infotext {
  color: #8093a8;
  font-weight: 200;
  line-height: 22px;
  font-size: 19px;
  text-shadow: 2px 2px 10px #5b738f;
}

.last-textbox {
  width: 55%;
  height: 100vh;
  padding: 5px;
  color: #293645;
  text-align: center;
  }

.infotextbox {
  position: absolute;
  bottom: 10%;
  width: 30%;
  padding: 15px 20px;
  text-align: center;
}

  /*RESPONSIVE FOR MOBILE*/

  @media only screen and (max-width: 600px) {

  h1 {
    font-size: 50px;
  }

  p {
  line-height: 22px;
  font-size: 18px;
  }
}